* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 80px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 15px;
}

.container-fluid {
  max-width: 1928px;
  margin: 0 auto;
  padding: 0 15px;
}

/*=============== BREAKPOINTS ===============*/

@media screen and (max-width: 992px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 576px) {
}

@media screen and (max-width: 350px) {
}
